@font-face {
  font-family: "vegan";
  src: url("../../font/VSP.ttf") format("opentype");
}
@font-face {
  font-family: "Ysabeau";
  src: url("../../font/YsabeauSC-Regular.ttf") format("opentype");
}
@keyframes dingdong {
  from {
    transform: rotate(2deg);
  }
  33% {
    transform: rotate(-2deg);
  }
  66% {
    transform: rotate(2deg);
  }
  to {
    transform: rotate(-2deg);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
html {
  height: 100vh;
  width: 100vw;
  scrollbar-width: none;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  background-color: #eff3f6;
  z-index: 0;
}

.navbar {
  z-index: 10;
  position: sticky;
  top: 0;
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.navbar.scrolling {
  z-index: 10;
  position: sticky;
  top: 0;
  animation: fade-in 1s ease-in;
  background: linear-gradient(to bottom, rgba(57, 223, 196, 0.4), rgba(57, 223, 196, 0.2), rgba(239, 243, 246, 0));
  border-style: none;
}
.navbar.scrolling div {
  background: url("../../img/Bureau71LogoCyan.png");
  background-size: cover;
  height: 7vh;
  width: 4vw;
}
.navbar div {
  background: url("../../img/Bureau71LogoCyan.png");
  background-size: cover;
  height: 7vh;
  width: 4vw;
}
.navbar button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #39dfc4;
  border: #0f0c0c;
  color: #0f0c0c;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: large;
}
.navbar button:hover {
  background-color: #20c5aa;
  color: white;
}
.navbar button:disabled {
  background-color: #20c5aa;
  color: white;
}
.navbar ul {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  width: 80vw;
}
.navbar ul button {
  height: 2.5vh;
  width: 7vw;
  border-radius: 15px;
  background-color: #39dfc4;
  border: #0f0c0c;
  color: #0f0c0c;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: large;
}
.navbar ul button:hover {
  background-color: #20c5aa;
  color: white;
}
.navbar ul button:disabled {
  background-color: #20c5aa;
  color: white;
}

.wrapper {
  font-weight: bold;
  font-size: xx-large;
  font-family: Ysabeau;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 1/1/2/3;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  z-index: 1;
  height: 150vh;
}
.div1 img {
  top: 0;
  position: absolute;
  z-index: 2;
  width: 100vw;
}

.div2 {
  grid-area: 2/1/3/2;
  display: flex;
  align-items: center;
}
.div2 .div2__background {
  background-image: url("../../img/headpic.jpg");
  background-size: cover;
  border-left: none;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 14px, rgba(0, 0, 0, 0.3) 0px 7px 25px -5px;
  border-radius: 0px 20px 20px 0px;
  height: 60%;
  width: 90%;
}

.div3 {
  grid-area: 2/2/3/3;
  margin: 0 15% 0 15%;
  display: flex;
  align-items: center;
}

.div4 {
  grid-area: 3/1/4/2;
  margin: 0 15% 0 15%;
  display: flex;
  align-items: center;
}

.div5 {
  grid-area: 3/2/4/3;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.div5 .div5__background {
  background-image: url("../../img/headpic.jpg");
  background-size: cover;
  border-left: none;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 14px, rgba(0, 0, 0, 0.3) 0px 7px 25px -5px;
  border-radius: 20px 0px 0px 20px;
  height: 60%;
  width: 90%;
}

.div6 {
  grid-area: 4/1/5/2;
  display: flex;
  align-items: center;
}
.div6 .div6__background {
  background-image: url("../../img/headpic.jpg");
  background-size: cover;
  border-left: none;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 14px, rgba(0, 0, 0, 0.3) 0px 7px 25px -5px;
  border-radius: 0px 20px 20px 0px;
  height: 60%;
  width: 90%;
}

.div7 {
  grid-area: 4/2/5/3;
  margin: 0 15% 0 15%;
  display: flex;
  align-items: center;
}

.div8 {
  grid-area: 5/1/6/3;
  margin: 0 20% 0 20%;
  display: flex;
  align-items: center;
}

form {
  display: flex;
  justify-content: center;
  align-content: center;
}
form fieldset {
  border-radius: 20px;
  border: #639787 solid 2px;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: column wrap;
  margin: 10vh 0 10vh;
}
form fieldset div {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
form fieldset div #send {
  font-family: vegan;
  width: 20vw;
}
form fieldset div #send:hover {
  box-shadow: -3px 5px 0px 2px #0f0c0c;
  color: #639787;
  animation-duration: 200ms;
  animation-name: dingdong;
}
form fieldset div #send:active {
  box-shadow: inset 0 0 10px #483939;
}
form fieldset legend {
  background-color: #0f0c0c;
  color: rgb(227, 252, 255);
  padding: 3px 6px;
  margin: 0 0 5vh 2vw;
  font-family: vegan;
  font-size: 2vw;
  border-radius: 10px;
  box-shadow: -3px 5px 0px 2px #2b2323;
}
form fieldset p {
  display: flex;
  justify-content: space-evenly;
}
form fieldset input,
form fieldset textarea,
form fieldset button {
  border-radius: 5px;
  border: #639787 solid 1px;
  background-color: white;
  color: black;
  font-size: 1vw;
  margin-bottom: 3vh;
  box-shadow: -3px 5px 0px 2px #2b2323;
  height: 5vh;
}
form fieldset textarea {
  height: 15vh;
}

.afterContact {
  font-family: vegan;
  font-size: xx-large;
  color: #639787;
  text-align: center;
  padding: 10vh 0 10vh;
}

footer {
  background-color: #0f0c0c;
  height: 50vh;
}/*# sourceMappingURL=style.css.map */